<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="/static/content/style.css">
  </head>
  <body>

  <ul class="pages">
    <li class="create_group page">
      <div class="form">
        <h3 class="title">Name of your group</h3>
        <input class="loginInput" type="text" maxlength="30" />
        <h3 class="title">Usernames to be included</h3>
        <input class="loginInput" type="text" maxlength="100" />
      </div>

      <div class='create_group_button unselectable'> 
        <div class='centered_text'> Create Group </div>
      </div>
    </li>
  </ul>

  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <!-- Personal Main JS file -->
  <script src="/static/js/main.js"></script>
  
  </body>
</html>