<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chat</title>
  <link rel="stylesheet" href="/static/content/style.css">
</head>
<body>
  <ul class="pages">
    <li class="chat page">
      <div class="chatArea">
        <ul class="messages"></ul>
      </div>
      <div class = "sidebar">
        <div class="button_panel">
          <button type="button" id = "logout">Logout</button>
          <button type="button" id = "delete_account">Delete Account</button>
          <br>
          <button type="button" id = "create_group">Create Group </button>
        </div>

        <div class="seperator"> Users </div>
        <div class="box">
          <span class="icon"><i class="fa fa-search"></i></span>
          <input type="search" id="search_users" placeholder="Search..." />
        </div>

        <!-- <ul class="list-users"></ul> -->

          <select class="singleMultiple" id = "user_select" size="5" multiple></select>

        <div class="seperator"> Groups </div>
        <div class="box">
          <span class="icon"><i class="fa fa-search"></i></span>
          <input type="search" id="search_groups" placeholder="Search..." />
        </div>
        <ul class="list-groups"> </ul>

        <div class="seperator">  </div>
      </div>
      <input class="inputMessage" placeholder="Type here..."/>

    </li>
  </ul>
    <li class="login page">
    </li>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="/static/js/main.js"></script>
</body>
</html>