{% extends "layout.html" %}
{% block body %}
  
<ul class="pages">
  <li class="chat page">
    <div class="chatArea">
      <ul class="messages" id = "messages_loc"></ul>
    </div>

    {% if USE_PROTOBUFF %}
      Currently Using Protocol Buffers
    {% else %}
      Currently Using RESTFUL
    {% endif %}
    <div class="topbar">
      <div class='center'> No Chat Selected </div>
    </div>
    <div class = "sidebar">
      <div class="seperator"> Users </div>
      <div class="box"></div>
      <select id= 'u_sel' class="singleMultiple user_select" size="5"></select>
      <div class="box"></div>

      <div class="seperator"> Groups </div>
      <div class="box"></div>
      <select id = 'g_sel' class="singleMultiple group_select" size="5"></select>
      <div class="box"></div>
      <div class="seperator">  </div>

      <div class="button_panel">
        <div class="box"></div>
        <div><button type="button" id = "logout">Logout</button></div>
        <div class="box"></div>
        <button type="button" id="create_group" data-toggle="modal" data-target="#myModal">Create Group</button>
        <div class="box"></div>
        <button type="button" id = "delete_account">Delete Account</button>
        <div class="box"></div>
      </div>

      <div class="seperator">  Methods </div>
      <div class="box"></div>
      {% if USE_PROTOBUFF %}
        <button type="button" id="transfer" >Switch to RESTFUL</button>
      {% else %}
        <button type="button" id="transfer" > Switch to Protocol Buffers</button>
      {% endif %}
    </div>
    <input class="inputMessage" placeholder="Type here..."/>
  </li>
</ul>

<!-- Modal content for create group form, initialliy hidden-->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-background">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title modal-background">Create Group</h4>
      </div>
      <div class="modal-body modal-background">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <input type="Group Name" class="form-control" id="group_name" placeholder="Group Name"/>
          </div>
          <div class="form-group">
            <select class="ui fluid search dropdown user_select_modal" id='group_select' multiple="">
              <option value="">Users</option>
            </select> 
          </div>
        </form> 
        <div class="modal-footer modal-background">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-default modalCreateButton" data-dismiss="modal">Create</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Stylesheets -->

<!-- Bootstrap used to do majority of styling-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Library used to make selects searchable and appear nicely -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />

<!-- Used for additional styling for semantic items -->
<link data-require="semantic-ui@*" data-semver="1.11.5" rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.0.8/semantic.min.css" />

<!-- Javascipt files -->

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- Modal used to do popup for creating groups -->
<script src="/static/js/modal.js"></script>

<!-- Library used to make selects searchable and appear nicely -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>

<!-- Libraries used to interact with and create protocol buffers -->
<script src="static/js/ByteBufferAB.min.js"></script>
<script src="static/js/ProtoCode.js"></script>
<script src="https://cdn.rawgit.com/dcodeIO/bytebuffer.js/master/dist/bytebuffer.min.js"></script>
<script src="https://cdn.rawgit.com/dcodeIO/protobuf.js/master/dist/protobuf.min.js"></script>
<script src="https://cdn.rawgit.com/dcodeIO/long.js/master/dist/long.min.js"></script>

<!-- Used for creating dynamic html elements -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

<!-- Used for additional features for semantic items -->
<script data-require="semantic-ui@*" data-semver="1.11.5" src="http://cdn.jsdelivr.net/semantic-ui/2.0.8/semantic.min.js"></script>

<!-- Main File -->
<script src="/static/js/main.js"></script>

{% endblock %}
